# 构建目录
build/

# Qt Creator IDE 配置
.qtcreator/
*.pro.user
*.autosave

# CMake 构建产物
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
*.cmake

# 编译产物
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
moc_*.cpp
qrc_*.cpp
moc_predefs.h

# 设计源文件（不上传）
比亚迪中控屏Figma素材/

# Windows
Thumbs.db
Desktop.ini
